<div class="grid grid-cols-4 gap-4 m-5">
  <div class="w-60">
    <a routerLink="/layout/classroom">
      <div class="card w-60 bg-base-100 shadow-xl image-full">
        <figure><img class="" src="/assets/dashboard/aula.jpg" alt="Aula" /></figure>
        <div class="card-body">
          <h2 class="card-title ">Aula</h2>
        </div>
      </div>
    </a>
  </div>
  <div class="w-60">
    <a routerLink="/layout/location">
      <div class="card w-60 bg-base-100 shadow-xl image-full">
        <figure><img class="" src="/assets/dashboard/ubicaciones.jpg" alt="Locacion" /></figure>
        <div class="card-body">
          <h2 class="card-title ">Locacion</h2>
        </div>
      </div>
    </a>
  </div>
  <div  class="w-60">
    <a routerLink="/layout/grade">
      <div class="card w-60 bg-base-100 shadow-xl image-full">
        <figure><img class="" src="/assets/dashboard/cursos.jpeg" alt="Cursos" /></figure>
        <div class="card-body">
          <h2 class="card-title">Cursos</h2>
        </div>
      </div>
    </a>
  </div>
  <div class="w-60" >
    <a routerLink="/layout/schedule">
      <div class="card w-60 bg-base-100 shadow-xl image-full">
        <figure><img class="" src="/assets/dashboard/horario.png" alt="Horario" /></figure>
        <div class="card-body">
          <h2 class="card-title">Horario</h2>
        </div>
      </div>
    </a>
  </div>
  <div class="w-60" >
    <a routerLink="/layout/user">
      <div class="card w-60 bg-base-100 shadow-xl image-full">
        <figure><img class="" src="/assets/dashboard/usuarios.jpeg" alt="Usuario" /></figure>
        <div class="card-body">
          <h2 class="card-title">Usuario</h2>
        </div>
      </div>
    </a>
  </div>
  <div class="w-60" >
    <a routerLink="/layout/teacher-list" >
      <div class="card w-60 bg-base-100 shadow-xl image-full">
        <figure><img class="" src="/assets/dashboard/docente.jpeg" alt="Docente" /></figure>
        <div class="card-body">
          <h2 class="card-title">Docente</h2>
        </div>
      </div>
    </a>
  </div>
  <div class="w-60" >
    <a routerLink="/layout/distributivo-docente">
      <div class="card w-60 bg-base-100 shadow-xl image-full">
        <figure><img class="" src="/assets/dashboard/distributivo.png" alt="Distributivo" /></figure>
        <div class="card-body">
          <h2 class="card-title">Distributivo</h2>
        </div>
      </div>
    </a>
  </div>
  <div class="w-60" >
    <a routerLink="/layout/career">
      <div class="card w-60 bg-base-100 shadow-xl image-full">
        <figure><img class="" src="/assets/dashboard/carrera.jpg" alt="Carrera" /></figure>
        <div class="card-body">
          <h2 class="card-title">Carrera</h2>
        </div>
      </div>
    </a>
  </div>
</div>