<div class="flex justify-center">
  <div class="grid grid-cols-2 gap-4 place-content-around">
    <a routerLink="/layout/classroom">
      <div class="card w-45 bg-base-100 shadow-xl image-full rounded-md">
        <figure><img src="/assets/dashboard/aula.jpg" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">Aulas</h2>
        </div>
      </div>
    </a>
    <a routerLink="/layout/location">
      <div class="card w-45 bg-base-100 shadow-xl image-full rounded-md">
        <figure><img src="/assets/dashboard/ubicaciones.jpg" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">Ubicacion</h2>
        </div>
      </div>
    </a>
    <a routerLink="/layout/grade"></a>
    <div class="card w-45 bg-base-100 shadow-xl image-full rounded-md">
      <figure><img src="/assets/dashboard/cursos.jpeg" alt="Shoes" /></figure>
      <div class="card-body">
        <h2 class="card-title">Cursos</h2>
      </div>
    </div>
    <a routerLink="/layout/schedule">
      <div class="card w-45 bg-base-100 shadow-xl image-full rounded-md">
        <figure><img src="/assets/dashboard/horario.jpg" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">Horario</h2>
        </div>
      </div>
    </a>
    <a routerLink="/layout/user">
      <div class="card w-45 bg-base-100 shadow-xl image-full">
        <figure><img src="/assets/dashboard/usuarios.jpeg" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">Usuarios</h2>
        </div>
      </div>
    </a>
    <a routerLink="/layout/teacher-list">
      <div class="card w-45 bg-base-100 shadow-xl image-full rounded-md">
        <figure><img src="/assets/dashboard/docente.jpeg" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">Docente</h2>
        </div>
      </div>
    </a>
    <a routerLink="/layout/career">
      <div class="card w-45 bg-base-100 shadow-xl image-full rounded-md">
        <figure><img class="w-16 md:w-32 lg:w-48" src="/assets/dashboard/carrera.jpg" /></figure>
        <div class="card-body">
          <h2 class="card-title">Carrera</h2>
        </div>
      </div>
    </a>
    <a routerLink="/layout/distributivo-docente">
      <div class="card w-30 bg-base-100 shadow-xl image-full rounded-md">
        <figure><img src="/assets/dashboard/distributivo.png" /></figure>
        <div class="card-body">
          <h2 class="card-title">Distributivo</h2>
        </div>
      </div>
    </a>
  </div>
</div>