<div class="flex flex-row flex-wrap" >
    <div class="flex flex-col flex-wrap w-8/12" >
        <div class="flex flex-wrap" >
            <div class="text-sm flex-wrap breadcrumbs">
                <ul>
                  <li>
                    <a>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-4 h-4 mr-2 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path></svg>
                      Home
                    </a>
                  </li> 
                  <li>
                    <a>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-4 h-4 mr-2 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path></svg>
                      Documents
                    </a>
                  </li> 
                  <li>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-4 h-4 mr-2 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path></svg>
                    Add Document
                  </li>
                </ul>
              </div>
        </div>
        <div class="flex" >
            <input #searchValue type="text" placeholder="Type here" class="input input-bordered input-sm w-full max-w-xs" />
            <button (click)="handleClickSearch(searchValue.value)" class="btn btn-sm btn-warning">Buscar</button>
        </div>
    </div>
    
    <div class="flex flex-row mt-2 justify-start flex-wrap w-4/12" >
        <app-upload-modal-classroom></app-upload-modal-classroom>
        <label for="my-modal" class="btn btn-sm btn-primary modal-button">Nuevo</label>
    </div>
</div>