<input type="checkbox" id="detalle" class="modal-toggle" />

<div class="modal">
    <div class="modal-box w-7/12 max-w-full rounded-md">

        <div class="overflow-x-auto">
            <table class="table table-compact w-full">
                <thead>
                    <tr>
                        <th></th>
                        <th>Grado</th>
                        <th>Periodo</th>
                        <th>Asignatura</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Id</td>
                        <td>Grado</td>
                        <td>Periodo</td>
                        <td>Asignatura</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="modal-action">
            <label for="detalle" class="btn btn-xs btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24"
                    class="w-5 h-5 fill-red-900">
                    <path
                        d="M12.836,.028C9.356-.207,5.961,1.067,3.509,3.521,1.057,5.977-.211,9.378,.029,12.854c.441,6.354,6.053,11.146,13.054,11.146h5.917c2.757,0,5-2.243,5-5v-6.66C24,5.861,19.097,.454,12.836,.028Zm2.871,14.265c.391,.391,.391,1.023,0,1.414-.195,.195-.451,.293-.707,.293s-.512-.098-.707-.293l-2.293-2.293-2.293,2.293c-.195,.195-.451,.293-.707,.293s-.512-.098-.707-.293c-.391-.391-.391-1.023,0-1.414l2.293-2.293-2.293-2.293c-.391-.391-.391-1.023,0-1.414s1.023-.391,1.414,0l2.293,2.293,2.293-2.293c.391-.391,1.023-.391,1.414,0s.391,1.023,0,1.414l-2.293,2.293,2.293,2.293Z" />
                </svg>
            </label>
        </div>
    </div>
</div>