<!-- Put this part before </body> tag -->
<input type="checkbox" id="my-modal" class="modal-toggle" />
<div class="modal justify-center pl-52 flex-row">
  <div class="modal-box w-96 flex-col flex items-center">
    <h3 class="text-center w-full font-bold border-b-2 text-xl">
      Nueva usuario
    </h3>
    <div class="flex flex-col w-full text-xs gap-1">
      <div class="flex w-full flex-col">
        <label for="">Nombre usuario</label>
        <input
          name="name"
          id="name"
          #name="ngModel"
          minlength="4"
          required
          [(ngModel)]="currentEntity.name"
          class="focus:outline-dashed w-full py-2 bg-gray-300"
          type="text"
          placeholder="Type here"
        />
        <div class="text-[9px] h-3 text-red-400">
          <div *ngIf="name.errors?.['minlength']">
            Debe tener mas de 4 caracteres
          </div>
        </div>
      </div>
      <div class="flex text-xs w-full flex-col">
        <label for="">Username</label>
        <input

          [(ngModel)]="currentEntity.username"
          name="username"
          id="username"
          #name="ngModel"
          minlength="4"
          type="text"
          class="focus:outline-dashed w-full py-2 bg-gray-300"
        />
        
      </div>
      <div class="flex w-full justify-between">
        <div class="flex w-full flex-col">
          <label for="">Clave</label>
          <input
            minlength="10"
            #cordenadas="ngModel"
            required
            [(ngModel)]="currentEntity.password"
            class="py-2 w-full focus:outline-dashed bg-gray-300"
            type="text"
            placeholder="Type here"
          />
          <div class="text-[9px] h-3 text-red-400">
            <div *ngIf="cordenadas.errors?.['minlength']">
              Debe tener mas de 10 caracteres
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-action m-0">
      <label (click)="save()" class="cursor-pointer btn btn-sm" for="my-modal"
        >Aceptar</label
      >
      <label
        (click)="removeCurrentEntity()"
        class="cursor-pointer btn-sm btn"
        for="my-modal"
        >Cancelar</label
      >
    </div>
  </div>
  <app-list-role-user [roles]="currentEntity.roles" (deleteRoleEmmit)="deleteRole($event)" (addRoleEmmit)="addRoleUser($event)" ></app-list-role-user>
  

</div>
