<table class="flex w-ful text-xs table-auto flex-col flex-wrap" >
    <thead class="flex bg-gray-300 text-start" >
        <th class="w-1/12 text-start" >
           ID
        </th>
        <th class="w-3/12 text-start" >
           NAME
        </th>
        <th class="text-start w-3/12" >
            USERNAME
             </th>
        <th class="w-3/12 text-start" >
           CONTRASENA
        </th>
      
        <th class="w-2/12" >
            Actions
         </th>
    </thead>
    <tbody>
        <tr *ngFor="let user of userService.listUsers.users" class="flex  border-b-2" >
            <td class="w-1/12">
                {{user.id}}
            </td>
            <td class="w-3/12" >
                {{user.name}}
            </td>
            <td class="w-3/12" >
                {{user.username}}
            </td>
            <td class="w-3/12" >
                no disponible
            </td>
            <td class="w-2/12 flex flex-wrap justify-center" >
                <label (click)="setCurrentId(user.id)" for="my-modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                </label>
                |
                <label (click)="setCurrentId(user.id)" for="my-modal1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-x-fill" viewBox="0 0 16 16">
                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.854 7.146 8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 1 1 .708-.708z"/>
                      </svg>
                </label>
            </td>
        </tr>
    </tbody>
</table>

 <app-modal-user [currentId]="this.currentId" ></app-modal-user>

<!-- The button to open modal -->

<!-- Put this part before </body> tag -->
<input type="checkbox" id="my-modal1" class="modal-toggle" />
<div class="modal left-96 bg-opacity-0">
  <div class="modal-box text-sm rounded-md py-1 w-52 shadow-md border-t-2 h-fit">
    <p class="font-bold text-gray-600 text-center m-0">Estas seguro de eliminar?</p>
    <div class="modal-action flex flex-wrap justify-center m-0 ">
      <label (click)="delete()" for="my-modal1" class="btn text-xs btn-xs btn-primary">Aceptar</label>
      <label (click)="removeCurrentId()" for="my-modal1" class="btn text-xs btn-xs btn-warning">Cancelar</label>
    </div>
  </div>
</div>