<div class="dropdown dropdown-end">
  <label tabindex="0" class="btn btn-sm mb-4">Add Role</label>
  <ul tabindex="0" class=" dropdown-content menu p-2 shadow bg-base-100 rounded-box">
    
    <li class="flex w-52 justify-between flex-row" *ngFor="let role of roles" ><a>{{role.name}}</a> 
      <button (click)=" addRoleEmittier(role.roleId)" >
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
      </svg>
    </button> 
  </li>
  </ul>
</div>