<input type="checkbox" id="my-modal-4" class="modal-toggle" />
<label for="my-modal-4" class="modal cursor-pointer text-[#283c4d] ">
    <label class="modal-box relative" for="">
        <h1 class="text-lg text-center ">Distribucion de Docetes</h1>
        <div class="flex flex-col items-center">
            <label type="button" (click)="generateExcelFile()"
                class="btn btn-wide btn-sm btn-success rounded-md bg-emerald-600 border-emerald-600 text-white">
            Modelo
            </label>
        </div>
        <div class="flex flex-col items-center">
            <h3 class="pt-2">Importar desde excel</h3>
            <input type="file" class="">
        </div>
        <div class="flex justify-center pt-4">
            <label for="my-modal-4" type="button"
                class="btn btn-primary btn-wide text-white text-xs btn-sm rounded-md">Aceptar</label>
        </div>
    </label>
</label>